# List and its default types

In [2]:
# A list is a container which can hold different data types in it
#list is always stored in ordered sequence of number starting from 0

In [12]:
lst=["kanika",458,23.5,"raman",9821]

In [13]:
lst

['kanika', 458, 23.5, 'raman', 9821]

In [18]:
lst.append("paul")

In [19]:
lst

['kanika', 458, 23.5, 'raman', 9821, 'paul', 'paul', 'paul']

In [20]:
lst.remove(458)

In [21]:
lst

['kanika', 23.5, 'raman', 9821, 'paul', 'paul', 'paul']

In [22]:
lst.pop()

'paul'

In [23]:
lst

['kanika', 23.5, 'raman', 9821, 'paul', 'paul']

In [26]:
lst.count(23.5)

1

In [28]:
lst.remove("raman")

In [29]:
lst

['kanika', 23.5, 9821, 'paul', 'paul']

# Dictionary and its default functions

In [30]:
#dictionary is a key value pair data structure
#it is stored like
#{"key":"value"}

In [31]:
dit={"name":"chetali","age":19,"number":45698123}

In [32]:
dit

{'name': 'chetali', 'age': 19, 'number': 45698123}

In [33]:
dit.items()

dict_items([('name', 'chetali'), ('age', 19), ('number', 45698123)])

In [34]:
dit.keys()

dict_keys(['name', 'age', 'number'])

In [36]:
dit.pop("number")

45698123

In [37]:
dit

{'name': 'chetali', 'age': 19}

In [41]:
dit.values()

dict_values(['chetali', 19])

In [42]:
dit.update({"colour":"wheatish"})

In [43]:
dit

{'name': 'chetali', 'age': 19, 'colour': 'wheatish'}

# Sets and its default functions

In [44]:
#Sets are used for storing unique values in the python 
#Sets are the class in python whose olbject can be derived

In [45]:
st={"che","btech",45,"cse",5,"che",45,89.3}

In [46]:
st

{45, 5, 89.3, 'btech', 'che', 'cse'}

In [47]:
st.add(31)

In [48]:
st

{31, 45, 5, 89.3, 'btech', 'che', 'cse'}

In [50]:
st2={"pink","cse",1002,67.2,"black",1002}

In [51]:
 st3=st.union(st2)

In [52]:
st3

{1002, 31, 45, 5, 67.2, 89.3, 'black', 'btech', 'che', 'cse', 'pink'}

In [53]:
st3=st.intersection(st2)

In [54]:
st3

{'cse'}

# Tuple and its methods

In [55]:
#Tuple are ordered immutable collection of objects
#once the data is written in tuple it can't be changed

In [56]:
tup=("che","$",23,11.5,"red")

In [57]:
tup

('che', '$', 23, 11.5, 'red')

In [58]:
tup.count(23)

1

In [59]:
tup.index("red")

4

# Strings and its default functions

In [60]:
#A string is a sequence of unicode characters

In [61]:
name="chetali"
name2="singh bhati"

In [62]:
name.capitalize()

'Chetali'

In [64]:
name.count("chetali")

1

In [65]:
name2.isupper()

False

In [66]:
name2.upper()

'SINGH BHATI'

In [71]:
 " ".join(name)

'c h e t a l i'

In [72]:
name2.replace("i","a")

'sangh bhata'